@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-decoration: none;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html{
    background: linear-gradient(#28134a, #0f080f);
    color: white; 

}
body::-webkit-scrollbar {
    display: none;
  }
body{
    max-width: 1440px;
    max-height: auto;
    margin: 0 auto;

}
.education-page__burger-menu{
    display: none;
}
.education-page__header{
    margin-bottom: 124px;
}
.education-page__header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header__icon{
    padding-right: 80px;
    margin: 28px 0 0 80px;
    width: 212px;
    height: 47px;
    top: 28px;
    left: 80px;
    gap: 0px;
    opacity: 0px;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 46.87px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.nav{
    padding-right: 80px;
    gap: 40px;
    width: auto;
    height: 23px;
    top: 40px;
    opacity: 0px;
    display: flex;
}

.nav__link{
    width: auto;
    height: 23px;
    gap: 0px;
    opacity: 0px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
}
.nav a {
    padding:  .3em;
    color: rgba(255, 255, 255, 1);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }



  .nav a::before,
  .nav a::after {
    content: '';
    height: 7px;
    width: 7px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 1px solid #9a17ae;
    border-right: 1px solid #9a17ae;
    transform: translate(-100%, 50%);
  }
  
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 2px solid #b506ad92;
    border-left: 2px solid #b506ad92;
    transform: translate(100%, -50%)
  }
  
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav a:hover {
    color: #ffff;
  }

.education-places{
    width: 1200px;
    height: auto;
    margin: 150px auto;
    padding: 0 50px;
    gap: 88px;
}
.education-places__univer-block{
    width: auto;
    height: auto;
    display: flex;

}
.education-places__text-univer{
    width: auto;
    row-gap: 10px;
    margin: auto;
    height: auto;
}
.education-places__greeting{
    width: auto;
    font-size: 48px;
    font-weight: bold;
}


.education-places__text--jumping {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    color: white;
    animation: jump 0.9s ease infinite;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);

    }
    50% {
        transform: translateY(-3px);
    }
    
}


.education-places__sdu-text{
    margin: auto;
    width: auto;
    height: auto;
    font-size: 16px;
    padding-right: 10px;

    line-height: 23px;
}
.education-page__sdu-pic-block{
    width: 400px;
    margin: 10px auto;
    height: auto;
}
.education-page__sdu-img{
    width: 400px;
    height: auto;
    margin: auto;
    padding-left: 5px;
}


.school{
    width: auto;
    height: auto;
    margin: 150px auto;
    padding: 0 50px;
    gap: 88px;
}
.school__ktl-block{
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.school__text-block{
    width: auto;
    row-gap: 10px;
    margin: auto;
}

.school__greeting{
    font-size: 48px;
    font-weight: bold;
    width: auto;
}
.school__text--jumping {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    color: white;
    animation: jump 0.9s ease infinite;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);

    }
    50% {
        transform: translateY(-3px);
    }
    
}
.school__ktl-block{
    display: flex;
    gap: 15px;
}
.school__ktl-text{
    margin: auto;
    width: auto;
    height: auto;
    font-size: 16px;
    line-height: 23px;
}
.school__ktl-pic-block{
    padding-top: 40px;
    width: 400px;
    margin: 10px auto;

    height: auto;
}
.school__ktl-img{
    width: 400px;
    height: auto;
    margin: auto;
}



.achievment{
    margin-bottom: 141px;
}
.achievment__title{
    width: 222px;
    height: 60.03px;
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 62.5px;
    text-align: center;    
    margin: 0 auto;
    margin-bottom: 102px;
}
.achievment__boxes{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 235px;
    margin: 0 auto;
}
.achievment__algebra{
    width: 349px;
    height: 241px;
    background-color: #3b0668;
    border-radius: 15px;
    transition: 0.5s;
}

.achievment__russia{
    transition: 0.5s;
    width: 349px;
    height: 241px;
    background-color: #3b0668;
    border-radius: 15px;
}
.achievment__physics{
    width: 349px;
    transition: 0.5s;
    height: 241px;
    background-color: #3b0668;
    border-radius: 15px;
}
.achievment__algebra:hover, .achievment__russia:hover, .achievment__physics:hover{
    scale: 1.08;
}

.achievment__img{
    margin:34px 56px 30px 56px;
    width: 51px;
    height: 46.47px;
}
.achievment__text-algebra{
    width: 229px;
    height: 94px;
    margin: 0 auto;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 500;
    line-height: 46.87px;
    text-align: left;
    color: hwb(278 31% 0%);
}
.achievment__text-russia{
    width: 229px;
    height: 94px;
    margin: 0 auto;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 500;
    line-height: 46.87px;
    text-align: left;
    color: #be4fff;
}
.achievment__text-physics{
    width: 200px;
    height: 94px;
    margin: 0 auto;
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 500;
    line-height: 46.87px;
    text-align: left;
    color: hwb(278 31% 0%);    
}

.educatioin-way{
    width: 1200px;
    height: auto;
    margin: 150px auto;
}

.educatioin-way__block{
    color: #be4fff;
    background-color: #3b0668;
    border-radius: 15px;
    height: 300px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.educatioin-way__title{
    text-align: center;
    padding-bottom: 50px;

    font-size: 48px;
    color: #ffffff;
}
.educatioin-way__education-school, .educatioin-way__second-education, .educatioin-way__third-education{
    color: #d07fff;

}

ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
  }
  
  @media (min-width: 500px) {
    ul {
      grid-auto-flow: column;
    }
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  }
  
  ul li a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 1%, 69%, 0.4);
  }
  
  li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  li:hover ~ li p {
    animation: wave-animation 0.4s infinite;
  }

  ul{
    display: flex;
  }
  
 .education-page__footer {
    border-radius: 15px 15px 0 0 ;
    display: flex;
    justify-content: center;
    height: 100px;
    width: auto;
    background: linear-gradient(#240d46, #110511);
    line-height: 1.3;
    font-family: Menlo, monospace;
  }
  
  @keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }

@media only screen and (max-width: 1200px) {
    .education-places, .school__ktl-block{
        gap:30px;
        width: auto;
    }
    .educatioin-way, .achievment__boxes{
        width: auto;
    }
    .education-page__sdu-img, .school__ktl-img{
        padding: 15px;
    }
}
@media only screen and (max-width: 1050px) {
    .school__ktl-block, .education-places__univer-block{
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        justify-content: space-between;
    }
    .education-places__text-univer,.school__text-block{
        text-align: center;
    }
    .achievment__boxes{
    background-color: #3b0668;
    border-radius: 15px;
    }
    .achievment__algebra, .achievment__russia, .achievment__physics{
        width: auto;
        height: auto;
        margin: 0 auto;
    }
    .achievment__text-algebra, .achievment__text-russia, .achievment__text-physics{
        width: auto;
        height: auto;
        text-align: center;
    }
@media only screen and (max-width: 1050px) {
    .achievment__boxes{
        flex-direction: column;
        height: auto;
    }

}
@media only screen and (max-width: 650px) {
    .educatioin-way__block{border-radius: 0;}
    .education-page__header{display: none;}
    .education-page__burger-menu{
        display: block;
        margin: 50px;
    }
    .education-places__sdu-text, .school__ktl-text{
        font-size: 12px;
        height: auto;
        line-height: 12px;
        width: auto;
        text-wrap: wrap;
    }
    .achievment__boxes{
        border-radius: 0;
    }
    .school__ktl-img, .education-page__sdu-img{
        
    display: none;}
    .educatioin-way__title{
        font-size: 30px;
    }
    ul li a {
        font-size: 10px;
        color: white;
        text-decoration: none;
        box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
      }

}
}